@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap');

body {
  font-family: 'M PLUS 1', sans-serif;
  background-color: #ebf2f3;
  color: #565656;
  margin: 0;
}

.banner {
  width: 100%;
  height: auto;
  display: block;
  padding: 0;
}

.content {
  margin: 1.5rem;
}

h1 {
  color: #444;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f1f2f5;
  border: 1px solid #ddd;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem #9090a7;
  text-align: center;
}

a {
  text-decoration: none;
  color: #565656;
}

a:hover {
  color: #9e7399;
  font-weight: bold;
}

.footer {
  position: relative; /* or absolute, depending on your layout */
  z-index: 10; /* Ensure this is higher than the z-index (if any) of the image */
  /* Other styling */
  /* ... */
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.icon {
  width: 3rem;
  padding: 0 0.25rem 0 0.25rem;
}

/* media queries */

@media screen and (max-width: 800px) {
  .icon {
    width: 2.5rem;
  }
}

@media screen and (max-width: 700px) {
  .icon {
    width: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .icon {
    width: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .icon {
    width: 1rem;
  }
}