@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;700&display=swap');

/* Define root variables */
:root {
  --bg-teal: #dfe5e6;
  --dark-gray: #565656;
  /* --blue: #8197ad; */
  /* --blue: #333c44; */
  /* --blue: #5f6d7a; */
  /* --blue: #617486; */
  --blue: #4f5e6d;
  --white: white;
  /* --lavender: #bdbcda; */
  --lavender: #8197ad;
  --light-gray: #f5f7f8;
  --main-font: 'M PLUS 1', sans-serif;
}

.hidden {
  display: none !important;
}

/* Resets and base styles */
body {
  font-family: var(--main-font);
  background-color: var(--bg-teal);
  color: var(--dark-gray);
  margin: 0;
  text-align: center;
  align-items: center;
  font-size: 100%;
}

p, ul, .banner, .banner-header {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--dark-gray);
}

/* Utility classes for flexbox */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Banner and Header */
.banner, .banner-header {
  width: 100%;
  max-height: 175px;
  display: block;
  background-color: var(--white);
}

/* .banner-header {
  position: fixed;
  top: 0;
} */

.banner-footer {
  min-height: 60px;
}

.header {
  position: relative;
  text-align: center;
}

.name-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 2;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  width: 90%;
}

/* Headings */
h2 {
  font-size: 1.5rem;
  background-color: var(--light-gray);
  color: var(--blue);
  padding: 0.5rem;
  /* margin-top: 1rem; */
}

h2.about {
  margin: 0;
  color: var(--blue);
}

/* code */
.dropdown-heading {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  font-size: 1rem;
}

.dropdown-heading:hover {
  color: var(--lavender);
}

.loader-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: auto;
  flex: 0 0 auto;
}

/* .media-heading,
.contact-heading {
  margin-top: 0;
} */

.dropdown-heading::after {
  content: '\25BC';
  margin-left: 0.25rem;
  transition: transform 0.3s ease;
  font-size:0.75rem;
  display: inline-block;
  transform: translateY(0.1rem); 
}

.dropdown-heading.expanded::after {
  content: '\25B2';
}

.headline {
  font-weight: 700;
}

.headline-item {
  display: inline;
}

.headline-line:first-child::after,
.headline-item:not(:last-child)::after {
  content: " | ";
}

.summary {
  text-align: center;
  margin: 1rem auto;
  max-width: 800px;
}

.summary.body {
  text-align: left;
}

/* Resume Links */
.resume-links {
  display: flex;
  justify-content: center;
  padding: 0 1%;
  width: 98%;
  cursor: pointer;
}

.resume-link {
  flex: 1;
  background-color: var(--blue);
  color: white !important;
  margin: 0 0.625rem;
  padding: 0.625rem;
  border-radius: 0.25rem;
  text-align: center;
}

.resume-link:hover {
  background-color: var(--lavender);
  color: white !important;
}

.resume-link a {
  color: white !important;
}

.resume-link:hover a {
  color: white !important;
}

/* Projects */
.projects-container ul,
.media-container ul {
  display: flex;
  flex-wrap: wrap; 
  padding: 0;
  list-style-type: none;
  margin: -0.25rem 1rem 1rem 1rem;
}

.projects-container li,
.media-container li {
  flex: 1 1 calc(50% - 10px);
  margin: 0.25rem 0;
  padding: 0 0 0.5rem 0;
  box-sizing: border-box;
  border-bottom: 1px solid var(--light-gray);
}

.contact-container ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: auto;
}

.contact-container li {
  width: 10rem;
  padding: 0.5rem;
  text-align: center;
}

.contact-container a {
  display: block;
  width: 100%;
}

.projects-container li:last-child,
.media-container li:last-child,
.contact-container li:last-child,
.projects-container ul li:nth-last-child(2),
.media-container ul li:nth-last-child(2),
.contact-container ul li:nth-last-child(2) {
  border-bottom: none;
}

.projects-container li:nth-child(odd),
.media-container li:nth-child(odd),
.contact-container li:nth-child(odd) {
  margin-right: 0;
}

.projects-container li:nth-child(even),
.media-container li:nth-child(even),
.contact-container {
  margin-left: 0;
}

.projects-container a,
.media-container a,
.contact-container a {
  color: var(--dark-gray);
}

.projects-container a:hover,
.media-container a:hover,
.contact-container a:hover {
  color: var(--lavender);
}

.contact {
  margin-bottom: 5rem;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  max-height: 69px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  min-height: 45px;
}

.icon {
  width: 3rem;
  padding: .25rem 0.25rem 0 0.25rem;
}

/* Responsive adjustments */
@media screen and (max-width: 800px) {
  .icon { width: 2.5rem; }
  .name-title { font-size: 2.5rem; }
  .summary { margin: 1rem; }
}

@media screen and (max-width: 700px) {
  .icon { width: 2rem; }
  .name-title { font-size: 3rem; }

  .headline-line {
    display: block;
  }

  .headline-item {
    display: inline;
    margin-bottom: 0.5em;
  }

  .headline-item:not(:last-child)::after {
    content: " |";
  }

  .headline-line:first-child::after {
    content: "";
  }
}

@media screen and (max-width: 600px) {
  h2 { font-size: 1rem; }
  h3, h3::after { font-size: 1rem; }
  .summary { font-size: 1rem; }
  .name-title { font-size: 2rem; }
  .resume-link { font-size: 0.75rem; }
}

@media screen and (max-width: 500px) {
  li { font-size: 0.75rem; }
  /* h2 { font-size: 1rem; } */
  h3 { font-size: 1rem; }
}

@media screen and (max-width: 400px) {
  .name-title { font-size: 2rem; }
  .summary,
  body { font-size: 0.8rem; }
  .headline-item {
    font-size: 0.8rem;
  }

  h2,
  .headline-item,
  .summary.body,
  .resume-link {
    font-size: 0.9rem !important;
  }

  li {
    font-size: 0.7rem !important;
  }

  .headline {
    margin: 0.25rem 0.7rem;
  }

  .headline-line {
    margin-bottom: -0.25rem;
  }

  .summary.body {
    margin-top: 0.6rem;
  }

  .resume-link {
    padding: 0.2rem 0.2rem 0.28rem 0.25rem;
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;
  }

  .dropdown-heading::after {
    font-size: 0.5rem !important;
  }
}

@media screen and (max-width: 350px) {
  /* h2 { font-size: 0.8rem; } */
  h2,
  .headline-item,
  .summary.body,
  .resume-link {
    font-size: 0.7rem !important;
  }

  .dropdown-heading {
    font-size: 0.7rem !important;
  }

  .headline {
    margin: 0.25rem 0.7rem;
  }

  /* Applies to all list items in specified containers */
  .dropdown-container li {
    flex: 1 1 100% !important;
    margin-right: 0;
    margin-left: 0;  
    border-bottom: 1px solid var(--light-gray);
  }

  .dropdown-container ul li:nth-last-child(2) {
    border-bottom: 1px solid var(--light-gray);
  }

  .dropdown-container li:last-child {
    border-bottom: none;
  }

  .contact-container ul {
    flex-wrap: wrap;
  }

  .contact-container li {
    flex: 0 0 100%;
    padding: 0.5rem;
    text-align: center;
    margin: 0 1rem !important;
  }
}

@media screen and (max-width: 300px) {
  .resume-links {
    flex-direction: column;
    /* margin: 0.25rem 0.4rem; */
  }

  .headline-line {
    display: contents; 
  }

  .headline-item {
    display: inline;
  }

  .headline-item:not(:last-child)::after {
    content: " | ";
  }
}

@media screen and (max-width: 250px) {
  .name-title {
    font-size: 1rem !important;
  }
}
